*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  background-image: url(../public/images/background_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1220;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.header__top {
  padding: 47px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}
.header__content {
  padding-top: 60px;
  position: relative;
}
.header__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 107px;
  text-transform: uppercase;
}
.header__subtitle {
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.header__text {
  margin-bottom: 30px;
  max-width: 800px;
}
.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #5a0d67;
  transition: all 0.5s;
}
.button:hover {
  color: #5a0d67;
  background-color: #fff;
}
.logo__img {
  width: 400%;
  height: 400%;
  filter: invert(100%);
}
.header__social {
  padding: 70px 0 20px;
  display: flex;
  align-items: center;
}
.header__social-link {
  margin-right: 10px;
}
body {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
  font-family: "Oswald", sans-serif;
}
.header__images {
  position: absolute;
  right: 0;
  bottom: -150;
  width: 65%;
  height: auto;
}
.services {
  padding-top: 75px;
}

.title {
  color: #21062a;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.title::after {
  content: "";
  width: 80;
  height: 3px;
  background-color: #21062a;
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
}
.services__inner {
  display: flex;
  margin-bottom: 100px;
}
.services__content {
  width: 750;
  margin-right: 150;
}

.services_content-title {
  color: #5a0d67;
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 27px;
  font-weight: 300;
}
.services__content-textbox {
  margin-bottom: 57;
}
.services__content-text {
  margin-bottom: 12px;
}
.services__content-box {
  margin-bottom: 20px;
}
.button {
}
.button--decor {
  margin-top: 15px;
  color: #fff;
}
.button--decor::after {
  content: "ЖМИ";
  position: absolute;
  color: #c4c4c4;
  margin-left: 105px;
}
.button--decor::before {
  margin-left: 180px;
  margin-top: 10px;
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #c4c4c4;
}
.services__list {
  list-style: none;
  counter-reset: list-counter;
  margin-top: 50px;
}
.services__item {
  counter-increment: list-counter;
  border: 1px solid #c4c4c4;
  margin-bottom: 12px;
  width: 450;
  padding: 10 15 10 113;
  position: relative;
  transition: all 0.5s;
}
.services__item::before {
  content: "0" counter(list-counter);
  position: absolute;
  left: 20px;
  margin-top: 50px;
  font-weight: 400;
  line-height: 54px;
  font-size: 36px;
  color: #c4c4c4;
  transform: rotate(270deg);
}
.services__item:hover {
  border: 2px solid #5a0d67;
  width: 420px;
}
.services__item:hover .services__item-title {
  color: #5a0d67;
}
.services__item:hover::before {
  color: #5a0d67;
}
.services__item-title {
  font-size: 24px;
  font-weight: 300;
}
.services__item-text {
}

.benefits {
  margin-bottom: 100px;
}
.benefits__inner {
  display: flex;
}
.benefits__images {
  margin-right: 100px;
  width: 60%;
  height: 60%;
}
.benefits__content {
  width: 100%;
  color: #fff;
}
.title {
}
.benefits__title {
  margin-left: 185px;
}
.benefits__list {
  list-style: none;
  background-color: #21062a;
  padding: 25 0 25 185;
}
.benefits__item {
  width: 320px;
  margin-bottom: 20px;
}
.benefits__item-num {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}
.benefits__item-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}
.benefits__item-title {
  color: #c4c4c4;
}
.carousel {
  margin-bottom: 0px;
}
.title {
}
.carousel__inner {
  margin: 0 -7px;
  height: 670px;
}
.carousel__item {
  padding-bottom: 10px;
}
.carousel__item-box:hover {
  color: #fff;
  background-color: #5a0d67;
  border-color: #5a0d67;
}
.carousel__item-box {
  border: 1px solid #c4c4c4;
  padding: 6px 6px 18px 6px;
  margin: 0 7;
  transition: all 0.5s;
}
.carousel__item-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  display: block;
  margin-bottom: 23px;
}
.carousel__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}
.carousel__item-text {
}

.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
  height: 50%;
}

/* .carousel .slick-dots button{
    font-size: 0;
    border: none;
    color: #f00;
    padding: 0;
    margin: 0 10px;
    background-color: #c4c4c4;
    width: 50px;
    height: 1px;
} */

.contacts {
}
.container {
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
.contacts__info {
}
.title {
}
.contacts__list {
  list-style: none;
}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item-title {
  color: #5a0d67;
}
.contacts__item-text {
  color: #5a0d67;
}
.contacts__forms {
  background-color: #21062a;
  padding: 50px 75px 57px;
  text-align: center;
}
.contacts__title {
  color: #fff;
  margin-bottom: 16px;
  margin-left: 53px;
  text-align: left;
}
.contacts__btn {
  border: none;
  color: #fff;
  margin-top: 78px;
  cursor: pointer;
}
.contacts__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 12px;
  display: block;
  padding: 0 15;
  text-align: center;
}
.contacts__input::placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #c4c4c4;
}

.footer {
  background-color: #21062a;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50 0 50;
  color: #fff;
  height: 100px;
}
.logo {
}
.logo__img {
}
.header__social-img {
  filter: invert(100%);
}
.footer__copy {
}

@media (max-width: 950px) {
  .header__images {
    top: 400;
  }
  .header__top {
    padding: 0px 0px 0px;
  }
  .logo__img {
    width: 230%;
  }
  .phone {
    font-weight: 400;
    font-size: 28px;
    line-height: 54px;
  }
  .header__title {
    font-size: 54px;
    line-height: 17px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 10px;
  }
  .services__inner {
    flex-wrap: wrap;
  }
  .services__list{
    order: -1;
    width: 100%;
    padding-left: 0px;
  }
  .services__item{
    width: 100%;
  }
  .services__item:hover{
    width: 100%;
  }
  .services__content{
    width: 100%;
    margin-right: 0;
  }

  .title {
    margin-bottom: -21px;
  }

  .benefits__images {
    margin-right: 9px;
    width: 60%;
    height: 60%;
  }
  .benefits__images {
    display: none;
  }
  .benefits__title {
    margin-left: 0px;
  }
  .benefits__inner {
    text-align: center;
  }
  .benefits__list{
    padding: 15;
  }
  .benefits__item{
    width: 100%;
  }
  .title {
    margin-bottom: 16px;
  }
  .contacts__inner{
    display: block;
    text-align: center;
  }
  .contacts__list{
    margin-bottom: 10px;
  }

  .title::after {
   display: none;
  }
  .contacts__forms{
    width: 100%;
  }
  .contacts__forms{
    width: 100%;
  }
  .contacts__forms{
    width: 100%;
  }
  .contacts__input{
    width: 100%;
  }
  .contacts__btn {
    margin-top: 20px;
  }
  .contacts__title {
    margin-left: 0px;
    text-align: center;
  }
  .contacts__info title{
    margin-left: 10px;}

}

@media (max-width: 550px) {
  .header__top {
    padding: 0px 0px 0px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    display: grid;
  }
  .header__images {
    top: 150;
  }
  .header__title {
    font-size: 24px;
    line-height: 5px;
  }
  .header__content {
    padding-top: 32px;
  }
  body {
    font-size: 9px;
    line-height: 9px;
  }
  .header__social-img {
    width: 45%;
  }
  .phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
  }
  .logo__img {
    width: 120%;
  }
  .header {
    min-height: 450px;
  }
  .button {
    font-size: 10px;
    line-height: 0px;
  }
  .header__social {
    padding: 5px 0 20px;
  }

  .services__item::before {
    margin-top: 15px;
}
.title {
    font-size: 24px;
    line-height: 5px;
  }
  .title::after {
    content: "";
    width: 40;
    height: 2px;
    background-color: #21062a;
    position: absolute;
    margin-top: 3px;
    margin-left: 7px;
  }
  .services__content {
    width: 750;
    margin-right: 0;
  }

  .button--decor::before {
    margin-left: 144px;
    margin-top: 0px;
    content: "";
    position: absolute;
    width: 51px;
    height: 1px;
    background-color: #c4c4c4;
  }
  .button--decor::after {
    content: "ЖМИ";
    position: absolute;
    color: #c4c4c4;
    margin-left: 97px;
  }
  title::after {
    display: none;
  }
  .benefits__list {
    padding: 0 15 15 15;
  }
  .benefits__title {
    margin-left: 0;
    margin-top: -76px;
  }
  .benefits__title::after {
    display: none;
  }
  .carousel .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
    height: 62%;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
}
